<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>MMDC</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.min.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" />
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" />
		<![endif]-->

		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500' rel='stylesheet' type='text/css'>

	</head>
	<body>
     <img src="/images/metroland-logo.png" style="position: fixed; top: 10px; right: 40px; z-index:10001"/>
     <div id="wrapper">
       <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
            <li class="sidebar-brand">
              <a href="/"><img src="/images/metroland-logo.png" /></a>
            </li>
            {{# each navLinks}}
            <li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
              <a href="{{ href }}">{{ label }}</a>
            </li>
            {{/each}}
          </ul>
      </div>
    <div id="page-content-wrapper">
      <div id="paper-header">
        <div class="container-fluid">
          <div class="row">
            <button class="sidebar-toggle" type="button" id="menu-toggle" href="#menu-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
          </div>
          <div id="page-title-header" class="row">
            <h1>{{pageTitle}}</h1>
          </div>
        </div>
      </div>
      <div id="body" style="margin-top:198px">
        <!--
          Flash messages allow you to display once-off status messages to users, e.g. form
          validation errors, success messages, etc
        -->
        {{#if messages}}
        <div id="flash-messages" class="container">
          {{#if messages.info}}
          <div class="alert alert-info">
              {{{flashMessages messages.info}}}
          </div>
          {{/if}}
          {{#if messages.success}}
          <div class="alert alert-success">
              {{{flashMessages messages.success}}}
          </div>
          {{/if}}
          {{#if messages.warning}}
          <div class="alert alert-warning">
              {{{flashMessages messages.warning}}}
          </div>
          {{/if}}
          {{#if messages.error}}
          <div class="alert alert-danger">
              {{{flashMessages messages.error}}}
          </div>
          {{/if}}
        </div>
        {{/if}}
        <!-- The content block should contain the body of your template's content-->
        {{{body}}}
      </div>
      <div id="footer">
        <a id="prev"><div class="prev">Previous:<br /><span id="prev-page"><span class="glyphicon glyphicon-arrow-left"></span></span></div></a>
        <a id="next"><div class="text-right next">Next: <br /><span id="next-page"><span class="glyphicon glyphicon-arrow-right"></span></span></div></a>
      </div>
    </div>
  </div>
		{{!--
			//- jQuery 1.11.1 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.1 (also bundled) for better performance.
		--}}
		<script src="/js/lib/jquery/jquery-1.11.1.min.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.2.0.min.js
		--}}
		<script src="/js/lib/bootstrap/bootstrap-3.2.0.min.js"></script>
		<!-- Menu Toggle Script -->
    <script>
      var el = document.getElementById("body");
      var viewportOffset;
      $(document).ready(function(){
        $(document).scroll();

        $('#prev').attr('href', function(){
          var temp = $('.sidebar-nav').find('.active').prev().not('.sidebar-brand').find('a').attr('href') || null;
          if (temp == null) { $(this).css('color', '#4CAF50');}
          return temp;
        });
        $('#next').attr('href', function(){
          var temp = $('.sidebar-nav').find('.active').next().find('a').attr('href') || null;
          if (temp == null) { $(this).css('color', '#449D4D');}
          return temp;
        });

        $('#prev-page').append($('.sidebar-nav').find('.active').prev().find('a').text());
        $('#next-page').prepend($('.sidebar-nav').find('.active').next().find('a').text());

      });

      $(document).on("scroll", function(){
        viewportOffset = el.getBoundingClientRect();
        $('#paper-header').css('height', viewportOffset.top-40 > 60 ? viewportOffset.top-40 : 60);

        if($('#paper-header').css('height').replace(/\D/g,'') <= 73){
          $('#page-title-header h1').addClass('mini');
        } else $('#page-title-header h1').removeClass('mini');

        if($('#paper-header').css('height') === '60px'){
          $('#page-title-header').addClass('mini');
        } else $('#page-title-header').removeClass('mini');
      });

      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
    {{{isAdminEditorJS user}}}
	</body>
</html>
