<div class="container-fluid">
  <section class="photo-grid">
    <h3 class="text-center brief">Say hello to the future of digital commerce.</h3>
    <ul class="team-photos">
      {{# each data.members }}
      <li class="person">
        {{#if images.0.url}}
        <img src="{{images.0.url}}" class="person no-hover"/>
        {{# if images.1.url}}
        <img src="{{images.1.url}}" class="person hover hide"/>
        {{/if}}
        {{else}}
        <img src="/images/moose.png" class="person"/>
        {{/if}}
        <!--div class="name">{{firstName}} {{lastName}}</div-->
      </li>
      {{/each}}
    </ul>
  </section>
</div>
